<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Servizi</h3>
                        <ul>
                            <li><a [routerLink]="">Web design</a></li>
                            <li><a [routerLink]="">Sviluppo</a></li>
                            <li><a [routerLink]="">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a [routerLink]="">Company</a></li>
                            <li><a [routerLink]="">Team</a></li>
                            <li><a [routerLink]="">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Portfolio</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, nulla, perferendis mollitia sed sint architecto eius vel libero minima vero explicabo dolorem non, veniam hic accusamus eligendi repudiandae quas placeat.</p>
                    </div>
                    <div class="col item social"><a [routerLink]=""><i class="icon ion-social-facebook"></i></a><a [routerLink]=""><i class="icon ion-social-twitter"></i></a><a [routerLink]=""><i class="icon ion-social-snapchat"></i></a><a [routerLink]=""><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Portfolio Angular© 2023</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>