<section>
    <div class="contact" id="contact">
        <img src="">
        <div class="form">
            <form action="..." method="post">
                <h1>Contact Us</h1>
                <div class="input-box">
                    <p>Enter your username</p>
                    <input type="text" name="contact_username" placeholder="Username" required>
                </div>
                <div class="input-box">
                    <p>Enter your email</p>
                    <input type="text" name="contact_email" placeholder="Email" required>
                </div>
                <div class="input-box">
                    <p>Message</p>
                    <textarea name="contact_messaggio" placeholder="Scrivi qui il tuo messaggio" required></textarea>
                </div>
                <div class="input-box">
                    <input type="submit" name="submit">
                </div>
            </form>
        </div>
    </div>
</section>