<section>
    <div class="contact" id="contact">
        <img src="https://i.pinimg.com/736x/cc/16/68/cc1668f24ef4797140afe331106fabd8.jpg">
        <div class="form">
            <form action="#" method="post">
                <br>
                <h3>Ready to discuss your upcoming project or event?<br></h3>
                <p>Feel free to reach out for a consultation, quote, or just to say hello.</p>
                <div class="input-box">
                    <p>Enter your username:</p>
                    <input type="text" name="contact_username" placeholder="Username" required>
                </div>
                <div class="input-box">
                    <p>Enter your email:</p>
                    <input type="text" name="contact_email" placeholder="Email" required>
                </div>
                <div class="input-box">
                    <p>Message:</p>
                    <textarea name="contact_messaggio" placeholder="Type here your message..." required></textarea>
                </div>
                <div class="input-box">
                    <input type="submit" name="submit">SUBMIT
                </div>
            </form>
        </div>
    </div>
</section>
