<nav class="navbar navbar-expand-xxl navbar-dark" style="background-color: rgb(24, 23, 23);">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['']" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/servizi']">servizi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contatti']">contatti</a>
            </li>
        </ul>
    </div>
</nav>