<div class="container">
    <!--BLACK & WHITE-->
    <div class="gallery">
        <!--first section-->
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/eb/42/50/eb425038bb5634c4eb021274c1326845.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/11/25/a8/1125a80fe75c7c73a010b5d445c9361d.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/8d/46/cc/8d46ccafe7c480bbc01c38063778cbe0.jpg">
        </div>
        <!--second section-->
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/4a/33/07/4a33076e299346366bf836f8d6c1bba4.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/47/ac/94/47ac94aeb502d8ad9b89d92c9e649a8c.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/6d/dd/d1/6dddd128cbfcfdf6132b01422e9fdeed.jpg">
        </div>
        <!--third section-->
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/6d/0e/dd/6d0eddfb0426fc3329aff99fdbe7857e.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/ae/24/0e/ae240e53a789b14cdf0b95d4c8a7fc73.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/e7/81/78/e7817864c3ae6b5f18a083c77bbd9084.jpg">
        </div>
    </div>
</div>
