<div class="container">

    <h1 class="heading">Ultimi lavori:</h1>

    <div class="gallery">

        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/b8/f7/2f/b8f72f37fa69d8f2edb710442facfa43.jpg">
        </div>

        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/fb/dd/bd/fbddbd49ea43e2136d53628ab77f0288.jpg">
        </div>

        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/11/25/a8/1125a80fe75c7c73a010b5d445c9361d.jpg">
        </div>

        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/4a/33/07/4a33076e299346366bf836f8d6c1bba4.jpg">
        </div>

        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/47/ac/94/47ac94aeb502d8ad9b89d92c9e649a8c.jpg">
        </div>

        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/5c/b4/79/5cb479b7e1ae0a6087d5c527b0df16fe.jpg">
        </div>

    </div>

</div>
