<app-navbar></app-navbar>
<img [src]="lol ? immagine_logo : ''" alt="">

<!-- <app-benvenuto></app-benvenuto>
    <app-componente1 [datiricevuti] = "persone" [lol] = "immagine_logo"></app-componente1>
<button (click) = "cliccami()">cambia dati</button> 
<app-componente1 (mandatiapadre) = "datiRicevuti($event)"></app-componente1>
<app-componentefiglio (inviaAlPadre) = "verificaDatiOttenuti($event)"></app-componentefiglio>
<app-componente-padre></app-componente-padre>
<app-nuovo-davvero></app-nuovo-davvero>-->

<router-outlet></router-outlet>